@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.App {
  text-align: center;
  font-family: 'Prompt', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Header {
  min-height: 45vh;
  /* background-color: #e3c7c7; */
  background-image: url("./components/pic/money.png");
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 15vh; */
  
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-subheader {
  font-size: calc(10px + 2vmin);
  color: white;
}

.Body {
  margin-top: 5%;
  padding: 0 20% 0 20%;
  font-size: calc(5px + 2vmin);
}

.description {
  text-align: left;
  padding: 0 5% 0 5%;
}

.container-card {
  font-size: calc(5px + 2vmin);
  margin: 5% auto 5% auto;
  text-align: center;
}

.container-chart {
  margin: 0 auto 0 auto;
}

.footer {
  height: 20vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
